<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzWidth="256px"
            nzBreakpoint="xxl"
            [(nzCollapsed)]="isCollapsed">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="./assets/white_profile.png" alt="logo">
        <h1>Daolytics</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="My Collections" nzIcon="database-fill" nzTheme="fill">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" style = "width: 100%; display: flex; flex-direction: row; justify-content: center">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i style = "padding: 0px" class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <div style = "width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center">
          <img style = "object-fit: cover; height: 60%" src="./assets/daolytics.png" alt="logo">
          <h1 style = "margin-bottom: 0px; padding-left: 10px; font-family: 'Blinker', sans-serif; color: #006fbe">Daolytics</h1>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
